.container {
    
    background-color: rebeccapurple;
    text-align: center;
    max-width: 500px;

  }
  .row {
        display: flex;
        align-items: center;
  }
  .column {
    flex-direction: column;
    background-color: rgb(124, 68, 179);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    min-width: 60px;
    min-height: 40px;
  }
  .button {
      align-content: flex-end;
      text-align: center;
      background-color: rgb(216, 203, 228);
      margin: 10px;
      padding: 30px;
      font-size: 10px;
      min-width: 40px;
      max-width: 60px;
      max-height: 20px;
      font-size: 15px;
      vertical-align: middle;
  }
  #whosTurn {
      display: none;
      color: red;
      font-size: 15px;
      text-align: inherit;
      padding: 10px;
      min-width: 80px;
      min-height: 60px;
      /* width: 20px; */
  }
  #pick {
      display: none;
      color: red;
      font-size: 15px;
      text-align: inherit;
      padding: 10px;
      min-width: 80px;
      max-height: 40px;
    
  }
  .section-top {
      display: flex;
  }

  .message {
    width: 340px;
    height: 100vh;
    /* display: flex; */
    background-color: rgb(216, 203, 228);
    /* max-width: 500px; */
    min-height: 120px;
    max-height: 200px;
    margin: 10px;

  }
  .statistics {
    background-color: rgb(216, 203, 228);
    width: 100px;
    margin: 10px;
    /* padding: 20px; */
    font-size: 10px;
    min-width: 60px;
    min-height: 40px;
  }
  .statistics.p {
    text-align: left;
  }
  .message-li {
      text-align: left;
    text-overflow: clip;
  }
  #stat-ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  #message-ul {
    list-style-type: none; /* Remove bullets */
    color: red;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    
  }
/* html {
    background-color: white;
  }
  
  body {
    background-color: rgba(rebeccapurple, 0.125);
    width: 80%;
    margin: auto;
    padding: 5rem 0;
  }
  
  div {
    background-color: rgba(rebeccapurple, 0.25);
    text-align: center;
  } */
  
  /* .Grid {
    @include flexgrid-container();
    padding-bottom: 1rem;
  
    .col {
      @include flexgrid-item();
      margin-top: 1rem;
      padding: 1rem 0;
    }
} */